$softWhite: hsl(211, 20%, 91%);
$bgPurple: #4D394B;

.Menu {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  padding-bottom: 15px;
  border: solid 2px $softWhite;
  font-family: Helvetica, Georgia, 'Times New Roman', Times, serif;
}

.InstructionHeader {
  color: $bgPurple;
  padding: 10px;
  padding-bottom: 30px;
  font-size: 32px;
  text-align: center;
}

.Instructions {
  color: $bgPurple;
  padding: 10px;
  font-size: 16px;
  line-height: 1.3;
}
