$bgPurple: #4D394B;
$softWhite: hsl(211, 20%, 91%);
$favFont: Helvetica, Georgia, 'Times New Roman', Times, serif;

.LeaderBoard {
  padding: 20px 35px;
  background: rgb(71, 90, 109);
  font-size: 24px;
  color: $softWhite;
  min-width: 360px;
  display: inline-block;
  margin: 10px;
  border: solid 2px white;
  font-family: $favFont;

  // color: $bgPurple;
  // background: $softWhite;
  // border: solid 2px $bgPurple;
  h2 {
    color: $softWhite;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  table {
    width: 100%;
    padding: 20px;
  }

  table:first-of-type {
    margin-bottom: 45px;
  }

  thead {
    border-bottom: solid 1px $softWhite;

    th {
      padding-bottom: 12px;
    }
  }

  caption {
    text-transform: capitalize;
    padding: 6px;
    padding: 15px;
  }

  th,
  td {
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
  }

  button {
    color: $bgPurple;
    margin-top: 30px;
    margin-left: 20%;
    margin-bottom: 20px;
    display: inline-block;
    height: 40px;
    width: 60%;
    background: white;
    font-size: 18px;
    border: none;
  }
}
