$smheight: 160px;
$smwidth: 100px;
// $smurl: 'https://picsum.photos/#{$smwidth}/#{$smheight}?random';
$smurl: '../../assets/images/house.jpg';
$height: 280px;
$width: 160px;
// $url: 'https://picsum.photos/#{$width}/#{$height}?random';
$url: '../../assets/images/bridge.jpg';
$radius: 8px;
$outlineColor: cornflowerblue;
$bgPurple: #4D394B;
$softWhite: hsl(213, 100%, 98%);

.Card {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  margin: 4px;
  height: $smheight;
  width: $smwidth;
  background: white;
  color: white;
  overflow: hidden;
  border-radius: $radius;
  box-shadow: 0 0 0 2px $softWhite;

  &:focus {
    // overriding outline in favor of box shadow bc of radius
    outline: none;
    box-shadow: 0 0 0 3px $outlineColor;
  }
}

.FlipContainer {
  width: $smwidth;
  height: $smheight;
  padding: 4px;
  perspective: 600px;
  position: relative;
}

.scene {
  transition: transform 600ms;
  transform-style: preserve-3d;
  transform-origin: center;

  &.isFlipped {
    transform: rotateY(-180deg);
  }
}

.flipItem {
  border-radius: $radius;
  color: white;
  text-align: center;
  vertical-align: center;
  pointer-events: none;
  width: $smwidth;
  height: $smheight;
  position: absolute;
  backface-visibility: hidden;
  background-size: cover;
  cursor: pointer;
  font-size: 90px;
  display: table;
  background-color: $bgPurple;

  > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &:not(.backFace) {
    background-image: url($smurl);
  }

  &.backFace {
    right: 0;
    transform-origin: center !important;
    transform: rotateY(180deg);
  }
}

.matched {
  background: gray;
}

@media only screen and (min-width: 641px) {
  .Card {
    height: $height;
    width: $width;
  }

  .FlipContainer {
    height: $height;
    width: $width;
  }

  .flipItem {
    height: $height;
    width: $width;
    &:not(.backFace) {
      background-image: url($url);
    }
  }
}
