$softWhite: hsl(211, 20%, 91%);
$bgPurple: #4D394B;
$favFont: Helvetica, Georgia, 'Times New Roman', Times, serif;

.GameConfig {
  color: $softWhite;
  display: block;
  margin: 10px;
  padding: 30px 10px 15px 10px;
  background: $bgPurple;
  font-family: $favFont;
  font-size: 18px;
  max-width: 600px;
}

.PlayerName {
  font-family: $favFont;
  text-align: center;

  label,
  input {
    display: inline-block;
  }

  label {
    width: 100%;
    margin-bottom: 12px;
  }

  input {
    font-size: 18px;
    width: 40%;
    height: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
}

.GameDifficulty {
  padding-top: 14px;
  text-align: center;
  width: 100%;

  label {
    display: block;
    width: 100%;
  }

  select {
    font-size: 18px;
    width: 40%;
    background: white;
  }
}

.GameOptionSubmit {
  margin-top: 30px;
  margin-left: 20%;
  margin-bottom: 20px;
  display: inline-block;
  height: 40px;
  width: 60%;
  background: white;
  font-size: 18px;
}
