@import '../App/App.scss';

.Messenger {
  padding: 10px;
  padding-top: 44px;
  padding-bottom: 15px;
  font-family: $favFont;
  color: $bgPurple;
  max-width: 300px;
  margin: 0 auto;
}

.LiveHeader {
  padding: 10px;
  font-size: 24px;
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: $softWhite;
  top: 0;
  width: 100%;
  z-index: 100;

  button {
    font-family: $favFont;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: blue;
    outline: none;

    &:hover {
      border-bottom: solid 1px blue;
    }

    &:focus,
    &:active {
      border-bottom: solid 3px blue;
    }
  }
}

@media only screen and (min-width: 641px) {
  .Messenger {
    max-width: 850px;
  }
}
